* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 70px;
  box-shadow: 1px 2px 21px 0px rgba(0, 0, 0, 0.75);
  background-color: rgb(253, 238, 237);
  z-index: 10;
}
nav a {
  text-decoration: none;
  color: rgb(255, 111, 97);
  font-size: 1.2rem;
}
nav a img {
  width: 70px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  color: rgb(255, 111, 97);
  font-size: 1.2rem;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown_content {
  display: none;
  position: absolute;
  background-color: rgb(253, 238, 237);
  min-width: 200px;
  padding: 10px;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown_content a {
  color: rgb(255, 111, 97);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown_content a:hover {
  /* background-color: #ddd; */
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown_content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  /* background-color: #3e8e41; */
}

/*********** HOME PAGE **************/

.main__search,
.signupContainer,
.loginContainer {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
  background: url("frontPageHouse.jpg") rgba(255, 111, 97, 0.7);
  background-blend-mode: multiply;
  background-size: cover;
}
#agentLogin,
#agentSignup {
  background: url("agentBackground.jpg") rgba(255, 111, 97, 0.7);
  background-size: cover;
}
.main__search div {
  display: grid;
  grid-gap: 20px;
  width: 70%;
  justify-items: center;
  align-items: center;
}
.main__search h1 {
  font-size: 3.6rem;
  font-weight: bold;
  color: white;
}
.main__search h3 {
  color: white;
  font-size: 1.8rem;
}
.main__search form {
  display: grid;
  width: 100%;
  grid-template-columns: 7fr 1fr;
}

.main__search input {
  width: 100%;
  height: 45px;
  padding-left: 10px;
  border-radius: 7px;
  font-size: 120%;
  border: none;
  outline: none;
}

.logout__link {
  display: none;
}
.login__signup__modal {
  display: none;
}

/*********** PROPERTIES PAGE ***********/

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  top: 70px;
  width: 100%;
  height: calc(100vh - 70px);
}
#map {
  width: 100%;
  background-color: blue;
  z-index: 2;
}

.properties__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  column-gap: 15px;
  row-gap: 20px;
  overflow-y: scroll;
  box-shadow: 1px 2px 21px 0px rgba(0, 0, 0, 0.75);
  background-color: rgb(248, 240, 239);
  z-index: 3;
}
.property {
  box-shadow: -5px 6px 16px -8px rgba(0, 0, 0, 0.37);
  border: rgb(255, 111, 97) solid 0.1px;
  border-bottom: rgb(255, 111, 97) solid 5px;
  background-color: rgb(253, 241, 241);
}
.property img {
  width: 100%;
  height: 250px;
}
.property__info {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  width: 100%;
  padding: 2px 4px 5px 4px;
}
.property__status {
  display: grid;
  grid-template-columns: 1fr;
}

.dot {
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
}

/****** SIGNUP PAGE *******/

.signupContainer div,
.loginContainer div {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 4fr;
  grid-gap: 20px;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.signupContainer form {
  display: grid;
  row-gap: 20px;
  width: 40%;
  height: 70%;
  padding: 5%;
  background-color: rgba(255, 111, 97, 0.8);
  border-radius: 20px;
}
.loginContainer form {
  display: grid;
  row-gap: 20px;
  width: 40%;
  height: 50%;
  padding: 5%;
  background-color: rgba(255, 111, 97, 0.8);
  border-radius: 10px;
}
.signupContainer h1,
.loginContainer h1 {
  color: rgb(253, 241, 241);
}

.signupContainer input,
.loginContainer input {
  width: 100%;
  height: 45px;
  padding-left: 10px;
  border-radius: 7px;
  font-size: 120%;
  border: none;
  outline: none;
  background-color: rgb(253, 241, 241);
  color: rgb(255, 111, 97);
}
.signupContainer input::placeholder,
.loginContainer input::placeholder {
  color: rgb(250, 129, 118);
}

/********* USER PROFILE **********/

#profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding-top: 100px;
}

#profileInfo {
  display: grid;
  width: 100%;
  row-gap: 30px;
  justify-items: center;
  align-items: center;
}

#profileInfo div {
  width: 50%;
}

#profileInfo img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

#profileInfo input {
  width: 80%;
  height: 45px;
  padding-left: 10px;
  border-radius: 7px;
  font-size: 120%;
  background-color: rgb(253, 238, 237);
  border: 1px solid rgb(253, 238, 237);
  outline: none;
}

/********** USABLE CLASSES ************/

input.error {
  background-color: rgba(198, 38, 65, 0.1);
}
